USE [master]
GO
/****** Object:  Database [Lab3]    Script Date: 28-Jan-26 7:44:35 AM ******/
CREATE DATABASE [Lab3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CHIKIEN\MSSQL\DATA\Lab3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CHIKIEN\MSSQL\DATA\Lab3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab3]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 28-Jan-26 7:44:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[ID] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[age] [int] NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 28-Jan-26 7:44:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[age] [int] NULL,
	[email] [nvarchar](100) NULL,
	[gender] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SinhVien] ([ID], [name], [age], [email]) VALUES (1, N'Võ Chí Kiên', 20, N'kien@gmail.com')
INSERT [dbo].[SinhVien] ([ID], [name], [age], [email]) VALUES (2, N'Trần Nguyễn Thanh Thùy', 20, N'thuy@gmail.com')
INSERT [dbo].[SinhVien] ([ID], [name], [age], [email]) VALUES (3, N'Trần Duy Huy Hoàng', 20, N'hoang@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([ID], [name], [age], [email], [gender]) VALUES (1, N'Võ Chí Kiên', 20, N'kien@gmail.com', N'Nam')
INSERT [dbo].[Student] ([ID], [name], [age], [email], [gender]) VALUES (2, N'Trần Nguyễn Thanh Thùy', 20, N'thuy@gmail.com', N'Nữ')
INSERT [dbo].[Student] ([ID], [name], [age], [email], [gender]) VALUES (3, N'Trần Duy Huy Hoàng', 20, N'hoang@gmail.com', N'Nam')
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
USE [master]
GO